.hello-title {
    color: red;
}

html {
    padding: 10px;
}

.buttons {
    display: flex;
    padding: 5px 15px 5px 0px;
}

.button-wide {
    width: 150px;
}

.element {
    margin: 0px 10px 0px 0px;
}